@using Juliusz_Final
@model IEnumerable<Juliusz_Final.Models.Customer>

<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">Użytkownicy</a>
    </nav>
</div>

<div style="margin: 10%; margin-top: 10px">
    <div class="row">
        <div class="col">
            <div class="float-left">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Home", FormMethod.Get)" class="btn btn-primary">Strona główna</a>
            </div>
            <div class="float-right">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Add", "Customer", FormMethod.Get)" class="btn bg-warning">Dodaj użytkownika</a>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Imie i nazwisko</th>
            <th>Wiek</th>
            <th>Wzrost</th>
            <th>Umiejętności</th>
            <th>Opcje</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.ID)</td>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@MyMethods.AgeCustomer((DateTime)item.BirthDate).ToString()</td>
                <td>@Html.DisplayFor(x => item.Height)</td>
                <td>@Html.DisplayFor(x => item.Skill)</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new {id = item.ID})">Edytuj</a>
                    <a class="btn btn-primary" href="@Url.Action("Remove", new {id = item.ID})">Usuń</a>
                    <a class="btn btn-primary" href="@Url.Action("SingleCustomerAdd", "Rent", new {id = item.ID})">Dodaj wypożyczenie</a>
                </td>
            </tr>
        }
    </table>
</div>