@model Juliusz_Final.Models.Customer

<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">Edycja użytkownika</a>
    </nav>
</div>
<div class="row">
    <div class="col">
        <div class="float-left">
            <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Home", FormMethod.Get)" class="btn btn-primary">Strona główna</a>
        </div>
        <div class="float-right">
            <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Customer", FormMethod.Get)" class="btn bg-warning">Powrót</a>
        </div>
    </div>
</div>


@using (Html.BeginForm("Edit", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.ID)
        <div>
            @Html.TextBoxFor(x => x.ID, new { disabled = "" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        <div>
            @Html.TextBoxFor(x => x.Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.BirthDate)
        <div>
            @Html.TextBoxFor(x => x.BirthDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Height)
        <div class="col-18">
            @Html.TextBoxFor(x => x.Height)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Skill)
        <div>
            @Html.TextBoxFor(x => x.Skill)
        </div>
    </div>

    <button class="btn btn-primary">Confirm</button>
}
@Html.ValidationSummary()