@using Juliusz_Final.Models
@model IEnumerable<Juliusz_Final.Models.Rent>

<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">Wypożyczenia</a>
    </nav>
</div>

<div style="margin: 10%; margin-top: 10px">
    <div class="row">
        <div class="col">
            <div class="float-left">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Home", FormMethod.Get)" class="btn btn-primary">Strona główna</a>
            </div>
            <div class="float-right">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Add", "Rent", FormMethod.Get)" class="btn bg-warning">Dodaj wypożyczenie</a>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Klient</th>
            <th>Produkt</th>
            <th>Data wypożyczenia</th>
            <th>Ważność</th>
            <th>Data oddania</th>
            <th>Opcje</th>
        </tr>
        @foreach (var rent in Model)
        {
            <tr>
                @{ string text = $"{rent.Customer.Name} (id {rent.CustomerID})";}
                <td>@text</td>
                @{text = $"{rent.Item.Category.Type} {rent.Item.Model} (id {rent.ItemId})";}
                <td>@text</td>
                <td>@Html.DisplayFor(x => rent.RentDate)</td>
                @{
                    if (rent.ExpirationDate != null)
                    {
                        DateTime expDate = (DateTime)rent.ExpirationDate;
                        <td>@Html.DisplayFor(x => expDate)</td>
                    }
                    else
                    {
                        <td>@Html.Display("Brak")</td>
                    }
                }
                @{
                    if (rent.ReturnDate != null)
                    {
                        DateTime retDate = (DateTime)rent.ReturnDate;
                        <td>@Html.DisplayFor(x => retDate)</td>
                    }
                    else
                    {
                        <td>BRAK ZWROTU</td>
                    }
                }
                <td>
                    @{
                        if (rent.ReturnDate == null)
                        {
                            <a class="btn btn-primary" href="@Url.Action("ReturnProduct", new {id = rent.ID,})">ZWROT</a>
                            if (rent.ExpirationDate != null)
                            {
                                if (DateTime.Now > rent.ExpirationDate)
                                {
                                    <a class="btn btn-danger">SPÓŹNIENIE</a>
                                }
                            }

                        }
                        else
                        {
                            if (rent.ExpirationDate != null)
                            {
                                if (rent.ReturnDate > rent.ExpirationDate)
                                {
                                    <a class="btn btn-danger">SPÓŹNIENIE</a>
                                }
                            }
                        }
                    }
                </td>
            </tr>
                        }
    </table>
</div>
