<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body class="bg-light">
<div>
    <div align="center">
        <nav style="padding: 7px" class="bg-dark text-danger">
            <a style="padding: 15px" class="text-light" href="@Url.Action("Index", "Home")">Strona Główna</a>
            <a style="padding: 15px"  class="text-light" href="@Url.Action("Index", "Customer")">Użytkownicy</a>
            <a style="padding: 15px"  class="text-light" href="@Url.Action("Index", "Item")">Produkty</a>
            <a style="padding: 15px"  class="text-light" href="@Url.Action("Index", "Rent")">Wypożyczenia</a>
            <a style="padding: 15px"  class="text-light" href="@Url.Action("Index", "Category")">Kategorie</a>
        </nav>
    </div>
    @RenderBody()
</div>
</body>
</html>




