@model Juliusz_Final.Models.Item

<div align="center">
    <nav style="padding: 7px" class="bg-dark text-white">
        <a class="navbar-brand">Dodawanie produktu</a>
    </nav>
</div>

<div style="margin: 10%; margin-top: 10px">
    <div class="row">
        <div class="col">
            <div class="float-left">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Home", FormMethod.Get)" class="btn btn-primary">Strona główna</a>
            </div>
            <div class="float-right">
                <a style="margin: 5px; padding: 10px; padding-left: 50px; padding-right: 50px" href="@Url.Action("Index", "Item", FormMethod.Get)" class="btn bg-warning">Powrót</a>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Add", "Item", FormMethod.Post))
    {
        @*<div class="form-group">
            @Html.LabelFor(x => x.CategoryID)
            <div>
                @Html.TextBoxFor(x => x.CategoryID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.Label("Wybierz kategorię: ")
            <div>
                @Html.DropDownListFor(x => x.CategoryID, (IEnumerable<SelectListItem>)ViewBag.CategoryList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Model)
            <div>
                @Html.TextBoxFor(x => x.Model)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Value)
            <div class="col-18">
                @Html.TextBoxFor(x => x.Value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Condition)
            <div>
                @Html.TextBoxFor(x => x.Condition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Size)
            <div>
                @Html.TextBoxFor(x => x.Size)
            </div>
        </div>

        <button class="btn btn-primary">Potwierdź</button>
    }
    @Html.ValidationSummary()</div>
